body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html,
body {
  height: 100%;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  margin-top: 40px;
  border: 0;
}

#root {
  min-height: 100%;
}

.row {
  display: flex;
  min-height: 100%;
  height: 94vh;
  align-items: center;
  justify-content: center;
}

.select_column {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  transition: width 0.5s;
}
.select_column:hover {
  width: 100%;
}

.select_column:link {
  color: black;
}

.select_column:visited {
  color: black;
}

.select_column:link {
  text-decoration: none;
}

.host {
  background: antiquewhite;
  border-right: 2px solid black;
}

.join {
  background: aquamarine;
  border-left: 2px solid black;
}

.emoji-mart {
  position: absolute;
  top: 23%;
}
.emoji-mart-scroll {
  border-bottom: 0;
  margin-bottom: 6px;
}

.emoji-mart-scroll + .emoji-mart-bar {
  display: none;
}

.emoji {
  font-weight: 400;
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
  font-size: 1.2em;
}

.emoji-button {
  border: none;
}

.emoji-button:hover {
  border: none;
}

.chat_box {
  height: 70vh;
  overflow-y: auto;
}

.chat-bubble {
  /* background-color: #fff;
  border-radius: 21px; */
  /* width: 200px; */
  /* height: auto;
  padding: 10px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  position: relative; */
}

.chat_user_name {
  /* font-size: 0.7em; */
  margin: 0 17px 2px 0;
  color: grey;
}

.self {
  float: right;
}
