body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

html,
body {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  margin-top: 40px;
  border: 0;
}

#root {
  min-height: 100%;
}

.row {
  display: flex;
  min-height: 100%;
  /* height: 94vh; */
  align-items: center;
  justify-content: center;
}

.select_column {
  width: 50%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  transition: width 0.5s;
  padding: 1rem;
  /* border: 2px solid black; */
}

.select_column:hover {
  width: 100%;
}

/* .select_column:link {
  color: black;
}

.select_column:visited {
  color: black; 
}

.select_column:link {
  text-decoration: none;
} */

.host {
  background: black;
  color: yellow;;
  /* border-right: 1px solid black; */
}

.host:hover {
  background: black;
  color: yellow;;
  /* border-right: 1px solid black; */
}

.join {
  background: yellow;
  color: black;
  /* border-left: 1px solid black; */
}

.join:hover {
  background: yellow;
  color: black;
  /* border-left: 1px solid black; */
}

.emoji-mart {
  position: absolute;
  top: 23%;
}
.emoji-mart-scroll {
  border-bottom: 0;
  margin-bottom: 6px;
}

.emoji-mart-scroll + .emoji-mart-bar {
  display: none;
}

.emoji {
  font-weight: 400;
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
  font-size: 1.2em;
}

.emoji-button {
  border: none;
}

.emoji-button:hover {
  border: none;
}

.chat_box {
  height: 66vh;
  overflow-y: auto;
}

.chat_user_name {
  /* font-size: 0.7em; */
  margin: 0 17px 2px 0;
  color: grey;
}

.self {
  float: right;
}

.player_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left_tile_custom {
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 30px;
  text-align: center;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  margin: 5px;
}

.avatar_container {
  display: flex;
}

.info_box {
  margin-top: 2%;
  margin-right: 2%;
}

.changeVideo_divider {
  margin: 0.8rem 0;
}

.homepage_left_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage_left_hero h1 {
  font-size: 3em;
}

.homepage_explainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  /* transition: width 0.5s; */
  /* border: 2px solid black; */
}

.laptop_svg {
  height: 100px;
  margin: 12px;
}

.sync_svg {
  height: 100px;

  animation-name: ckw;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  display: inline-block;
}
@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.hero_video {
  border: 2px solid black;
  border-radius: 5px;
}

.full_height {
  min-height: 100vh;
}

.full_height .tile {
  justify-content: center;
}

.test_row {
  min-height: 100vh;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  align-items: center;
  grid-auto-rows: 1fr;
  align-items: stretch;
}

.test_row .content_party {
  margin: 0px !important;
  padding: 0px 40px 40px 0px;
  /* border-right: 1px solid black;
  border-bottom: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: lightsalmon;
}

.test_row .content_copy {
  margin: 0px !important;
  padding: 0px 40px 40px 0px;
  /* border-left: 1px solid black;
  border-bottom: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.test_row .content_sync {
  margin: 0px !important;
  padding: 0px 40px 40px 0px;
  /* border-right: 1px solid black;
  border-top: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.test_row .content_chat {
  margin: 0px !important;
  padding: 0px 40px 40px 0px;
  /* border-left: 1px solid black;
  border-top: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}

.expliner_img {
  display: block;
  width: 100%;
  box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
    rgba(84, 70, 35, 0.15) 0px 1px 3px;
  border-radius: 4px;
  margin-bottom: 18px;
  width: 450px;
  height: 200px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  height: 100px;
  margin: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}


@media all and (min-width: 700px) {
  .test_row{
    grid-template-columns: 1fr 1fr;

  }
}

.test_row h4 {
  margin-top: 0.8em;
  user-select: none;
}

.not-selectable {
  user-select: none;
}

/* Scrollbar - start */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* Scrollbar - end */

/* Profile card */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 380px;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  left: -15%;
  z-index: 1;
}
figure.snip figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  right: 0;
  width: 50%;
}
figure.snip figcaption h2,
figure.snip figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}
figure.snip figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip figcaption h2 span {
  font-weight: 800;
}
figure.snip figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip figcaption .icons {
  width: 100%;
  text-align: right;
}
figure.snip figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}
figure.snip figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip figcaption a:hover {
  opacity: 0.8;
}
figure.snip .position {
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
}
figure.snip.blue .position {
  background: #20638f;
}
figure.snip.red .position {
  background: #962d22;
}
figure.snip.yellow .position {
  background: #bf6516;
}
figure.snip.green .position {
  background: #1e8449;
}
figure.snip:hover > img,
figure.snip.hover > img {
  left: -12%;
}

.about {
  display: flex;
  min-height: 100%;
  height: 94vh; 
  align-items: center;
  justify-content: center;
  background-color: #212121;
}
